@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ededed;
  }
}

@layer base {
  h1 {
    @apply text-6xl;
  }
}

body {
  background: linear-gradient(rgba(0, 0, 0, 0.93), rgba(0, 0, 0, 0.93)),
    url("/low_res_pear.PNG");
  background-size: cover;
  background-position: center;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
